<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game</title>
</head>
<body bgcolor="#fff8dc">
<header>
		<center><h1>welcome to the game {{name}}</h1>
		<p>YOU(X) vs Computer(O)</p></center>
	</header>

    <center><table border="8" cellpadding="12" cellspacing="5" bgcolor="silver">
        <tr>
            <th>&emsp;{{places[0][0]}}&emsp;</th>
            <th>&emsp;{{places[0][1]}}&emsp;</th>
            <th>&emsp;{{places[0][2]}}&emsp;</th>
            <th rowspan="3">&emsp;&emsp;&emsp;&emsp;&emsp;</th>
            <td>&emsp;{{lis[0]}}&emsp;</td>
            <td>&emsp;{{lis[1]}}&emsp;</td>
            <td>&emsp;{{lis[2]}}&emsp;</td>

        </tr>
        <tr>
            <th>&emsp;{{places[1][0]}}&emsp;</th>
            <th>&emsp;{{places[1][1]}}&emsp;</th>
            <th>&emsp;{{places[1][2]}}&emsp;</th>
            <td>&emsp;{{lis[3]}}&emsp;</td>
            <td>&emsp;{{lis[4]}}&emsp;</td>
            <td>&emsp;{{lis[5]}}&emsp;</td>
        </tr>
        <tr>
            <th>&emsp;{{places[2][0]}}&emsp;</th>
            <th>&emsp;{{places[2][1]}}&emsp;</th>
            <th>&emsp;{{places[2][2]}}&emsp;</th>
            <td>&emsp;{{lis[6]}}&emsp;</td>
            <td>&emsp;{{lis[7]}}&emsp;</td>
            <td>&emsp;{{lis[8]}}&emsp;</td>
        </tr>
    </table></center>
    <p>{{place[1]}}</p>
    <form method="post">
    {% if placed %}
        <h3>Enter the place : <input type="number" min="1" max="9" name="place" required> <button type="submit">Placee!!</button> </h3>
    {% elif placed==False %}
        <h3>OOPS, The place is already occupied try again!!: <input type="number" min="1" max="9" name="place" required> <button type="submit">Placee!!</button></h3>
    {% else %}
        <h3>Enter the place : <input type="number" min="1" max="9" name="place" required> <button type="submit">Placee!!</button> </h3>
    {% endif %}
    </form>

    <form action="/reset" method="post">
    <button type="submit">Reset Game</button>
</form>
</body>
</html>
